/config*
/COPYING
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/m4/
/stamp-h1
/src/archlogger
/src/test_server
/AUTHORS
/ChangeLog
/NEWS
/README
.deps/
.dirstamp
Makefile
Makefile.in
/src/**/*.o
